


<div class="container">

  <!-- Page title -->
  <div class="row">
    <div class="col-12">
      <app-header title="Gegroet" subtitle="Gouveneur van het gouden gilde." icon="dashboard"></app-header>
    </div>
  </div>

  <!-- Cards -->
  <div class="row">
    <div *ngFor="let card of iconCards" class="col-md-6 col-sm-12">
      <app-icon-card number="{{card.number}}" title="{{card.title}}" icon="{{card.icon}}" subtitle="{{card.subtitle}}" subtitleIcon="{{card.subtitleIcon}}"></app-icon-card>
    </div>
  </div>

  <!-- Scroll test -->
  <div class="row">
    <div style="height: 4000px;">

    </div>
  </div>
</div>
