
$title-size: 48px;

.header-container {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 40px 0px;
  margin-top: 56px;
  margin-bottom: 56px;
}

.header-title-container {
  margin-bottom: 24px;
  align-items: center;
}

.header-title-icon {
  height: $title-size;
  width: $title-size;
  font-size: $title-size;
  vertical-align: center;
}

.header-title-text {
  font-size: $title-size;
  font-weight: 400;
  margin: 0px;
}

.header-subtitle-text {
  margin-bottom: 0px;
  padding-right: 40px;
  max-width: 700px;
  font-size: 16px;
  color: rgba(0,0,0,.6);
}