<mat-card class="p-0 mb-4">
  <div class="d-flex flex-row align-items-stretch justify-content-center">
    <div class="col-3 d-flex align-items-center justify-content-center rounded-left p-3 bg-light-secondary">
      <mat-icon class="mat-card-icon txt-primary">{{icon}}</mat-icon>
    </div>
    <div class="col-9 rounded-right p-3">
      <mat-card-title> {{number}} <small>{{title}}</small></mat-card-title>
      <mat-card-subtitle class="d-flex align-items-start mb-0">
        <mat-icon *ngIf="subtitleIcon" class="mat-card-subtitle-icon mr-1">{{subtitleIcon}}</mat-icon>
        <span>{{subtitle}}</span>
      </mat-card-subtitle>
    </div>
  </div>
</mat-card>