<!-- Main container -->
<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <!-- Navbar component -->
  <app-navbar></app-navbar>

  <!-- Sidenav caontainer -->
  <mat-sidenav-container class="main-sidenav-container">
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="true"
      [fixedTopGap]="mobileQuery.matches ? '56' : '64'" opened>
      <!-- Sidenav component -->
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <!-- Sidenav content -->
    <mat-sidenav-content [style]="mobileQuery.matches ? 'padding-top: 56px' : 'padding-top: 64px'">
      <div class="d-flex flex-column h-100 scroll-content-wrapper">
        <ngx-simplebar [options]="simplebarOptions" class="d-flex flex-column scroll-content h-100">
          <!-- Router Outlet -->
          <div [@fadeAnimation]="getRouterOutletState(o)">
            <router-outlet #o="outlet"></router-outlet>
          </div>
          <!-- Footer -->
          <!-- <app-footer></app-footer> -->
        </ngx-simplebar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
